* {
    font-family: arial, sans-serif;
    margin: 0;
    font-size: 14px;
}

body {
    display: block;
    position: relative;
    height: 100%;
}

.topnav {
    background-color: white;
    overflow: hidden;
}

.topnav a {
    float: right;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 14px;
}

.topnav a:hover {
    text-decoration: underline;
}

img {
    display: block;
    margin: auto;
    width: 30%;
}

#form {
    display: block;
    margin: auto;
    width: 30%;
    padding: 10px;
}
