.topnav {
    background-color: white;
    overflow: hidden;
}

.topnav a {
    float: right;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 10px;
}

.topnav a:hover {
    text-decoration: underline;
}

img {
    display: block;
    margin: auto;
    width: 30%;
}

.form {
    display: block;
    margin: auto;
    width: 30%;
    padding: 10px;
}
